#header { float: top;
text-align:center;
font-family: "Brush Script MT", cursive;
font-size: 300%;
         color: #ffffff;
          style="position: absolute; 
          image-background: url('C:\Users\23214233\Downloads\guitar-fire.jpg');

          }
#advertise {
float: right;
font-family: "Brush Script MT", cursive;
text-align:center;
font-size:150%;
border-radius: 25px;
    background: linear-gradient(135deg, rgba(555,555,55,5) 0%,rgba(142,185,42,1) 50%,rgba(777,777,7,7) 51%,rgba(158,203,45,1) 100%);
    width: 400px;
    height: 1000px;
    height: relative
   
    }
#centerMenu{
float: center;
font-family: "Brush Script MT", cursive;
font-size: 150%;
 background: linear-gradient(to right, rgba(184,182,237,1) 0%, rgba(117,113,239,1) 50%, rgba(55,55,555,5) 51%, rgba(184,182,237,1) 100%);
  border:1px solid silver;}
 
 #Subheader { float: top;
text-align:center;
font-family: "Brush Script MT", cursive;
          background-color: white;
           border:1px solid silver;
          }
#videoarea {
    width:640px;
    height:480px;
   margin: 0 auto;
    border:1px solid silver;
}
#list{
font-family:algerian;
color:white;
border:1px solid silver;
}
#footer {float:bottom;
font-family: "Brush Script MT", cursive;
              }
#contact{
<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
	<div class="row">
		<label for="name">Your name:</label><br />
		<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="email">Your email:</label><br />
		<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
	</div>
	<div class="row">
		<label for="message">Your message:</label><br />
		<textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
	</div>
	<input id="submit_button" type="submit" value="Send email" />
</form>						}
